body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}
.top-banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10%;
    margin-bottom: 50px;
}
.top-heading{
    font-size: 50px;
    
}

.top-text{
    color: white;
    margin: auto;
    width: 70%;
    
}

.button{
  background-image: linear-gradient(tomato, red);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 43%;
  margin-bottom: 10%;
  border-radius: 5px;
}


.amount-heading{
    font-size: 30px;
    text-align: center;
    
}
.amount-paragraph{
    color: gray;
    text-align: center;
}
.donate-amount{
    width: 10%;
    padding: 20px;
    margin: 20px;
    background-color: lightgray;
    color: gray;
    text-align: center;
    
    
    
}
#selected-amount{
    width: 10%;
    padding: 20px;
    margin: 20px;
    border: 2px solid red;
    background-color: lightpink;
    color: red;
    text-align: center;
}
.amount-all{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    
    /* margin: 50px 250px; */
}
.amount-line{
    margin-left: 20%;
    margin-right: 20%;
}
.plan-paragraph{
    margin: auto;
    width: 50%;
}

.plan-all{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    
}

.plan-amount{
    width: 25%;
    padding: 100px;
    margin: 10px;
    background-color: lightcyan;
    text-align: center;
}
.amount{
    margin: 10px 100px;
}

